* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}
:root {
  --primary-clr: #4c4ef9;
  --fade-primary-clr: #4c4ff995;
  --fade-grey: #d9d9d9;
  --thin: 200;
  --normal: 400;
  --medium: 500;
  --semibold: 600;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.22);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #427afa 0%, #4c4ef9 100%);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4c4ef9 0%, #427afa 100%);
}
