.registration-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hero-image-container{
        img{
            width: 100%;
        }
    }
    .registration-form-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 800px) {
    .registration-page{
        flex-direction: row;
        align-items: flex-start;
        .hero-image-container{
            overflow: hidden;
            img{
                width: 200%;
            }
        }

        .registration-form-container{
            margin-top: 40px;
            min-width: 500px;
            margin-right: 50px;
        }
    }
}